body {
  margin: 0;
  padding-top: 200px;

  font-family: 'Noto Sans', Arial, sans-serif;

  display: flex;
  justify-content: center;
}

.searchIcon {
  position: absolute;
  z-index: -1;
  left: 19px;
}

.customInputContainer {
  width: 350px;
  height: 60px;
  border-bottom: 1px solid #262626;

  font-size: 17px;

  position: relative;
  display: flex;
  align-items: center;
}

.customInput {
  outline: none;
  border: none;

  width: 100%;
  height: 100%;

  background-color: transparent;
  padding-left: 57px;
}

.hintContainer {
  width: 318px;
  height: 222px;
  padding: 16px;

  position: relative;

  background-color: lightgray;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  overflow: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.loadIndicator {
  position: absolute;
  top: 50%;
  margin-top: -38px;

  animation-name: rotation;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.userContainer {
  width: 100%;
  height: 50px;

  background-color: skyblue;

  cursor: pointer;

  display: flex;
}

.userContainer:not(:first-child) {
  margin-top: 16px;
}

.userImage {
  width: 50px;
  height: 50px;

  background-color: orange;
  border-radius: 50%;
}

.userInfo {
  margin-left: 8px;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.userInfo > a {
  font-size: 14px;
  color: black;
  text-decoration: none;
  font-weight: 400;
}

.userInfo > p {
  padding: 0;
  margin: 0;
  color: gray;
  font-size: 12px;
  margin-top: 6px;
}

@keyframes rotation {
  0% {
      transform:rotate(0deg);
  }
  100% {
      transform:rotate(360deg);
  }
}

.hintContainer::-webkit-scrollbar { width: 0; }
.hintContainer { -ms-overflow-style: none; }
.hintContainer { overflow: -moz-scrollbars-none; }